@{
    ViewBag.Title = "Страницата не е намерена";
}
@section styles {
  <link rel="stylesheet" href="~/Stylesheets/error-index.css">
}

<div class="error-message">
  <div class="content-wrapper">
    <div class="page-heading">Страницата не е намерена</div>
    <div class="error-content">
      <div class="column-half" id="first">
        <i class="fa fa-chain-broken"></i>
        <div class="column-text">
          Не можахме да намерим страницата която търсите
        </div>
      </div>
      <div class="column-half" id="second">
        Ако изпитваш затруднения използвай търсачката.
      </div>
    </div>
  </div>
</div>
